<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>博客管理系统</title>
    <link rel="stylesheet" href="/css/bootstrap4.0.min.css" >
    <script src="/js/jquery.slim.min.js" ></script>
    <script src="/js/popper.min.js" ></script>
    <script src="/js/bootstrap4.0.min.js"></script>
    <script src="/js/layer.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light" >
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand text-success" href="/admin/main">博客管理</a>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <!-- Example single danger button -->
                <div class="btn-group">
                    <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        新建
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="javascript:void(0);" onclick="fullScreen('添加文章','/admin/article/add')">文章</a>
                        <!-- <a class="dropdown-item" href="#">评论</a>-->
                    </div>
                </div>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="/admin/main">主页 </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/admin/article/list">文章管理</a>

            </li>

        </ul>
        <form class="form-inline my-2 my-lg-0" action="/admin/article/search" method="GET">
            <input class="form-control mr-sm-2" type="search" placeholder="文章标题或内容..." aria-label="Search" name="word">
            <button class="btn btn-outline-success my-2 my-sm-0 btn-sm" type="submit">搜索</button>
        </form>

        <a class="btn btn-outline-danger btn-sm" href="/admin/logout" role="button">退出</a>
    </div>
</nav>
<br/>
<table class="table table-sm">
    <thead>
    <tr class="table-info">
        <th>id</th>
        <th width="25%">标题</th>
        <th>发表时间</th>
        <th>点击量</th>
        <th>详情</th>
        <th>评论</th>
        <th>编辑</th>
        <th>删除</th>
    </tr>
    </thead>
    <tbody>
    <th:block th:each="article:${articles}">
    <tr>
        <th scope="row" th:text="${article.id}"></th>
        <td th:text="${article.title}"></td>
        <td th:text="${article.localTime}"></td>
        <td th:text="${article.click}"></td>
        <td><button type="button" class="btn btn-outline-info btn-sm" th:onclick="|fullScreen('《${article.title}》','/admin/article/detail?id=${article.id}')|">详情</button></td>
        <td><button type="button" class="btn btn-outline-success btn-sm" th:onclick="|fullScreen('《${article.title}》 评论管理','/admin/article/comment?id=${article.id}')|">评论</button></td>
        <td><button type="button" class="btn btn-outline-primary btn-sm" th:onclick="|fullScreen('《${article.title}》 编辑','/admin/article/edit?id=${article.id}')|">编辑</button>&nbsp;&nbsp;</td>
        <td><button type="button" class="btn btn-outline-danger btn-sm" th:onclick="|ifdelete('${article.id}','${article.title}') |">删除</button></td>
    </tr>
    </th:block>
    </tbody>
</table>
<nav aria-label="Page navigation example" style="position: absolute;bottom: 10px;left: 42%">
    <ul class="pagination justify-content-center">
        <li class="page-item" th:classappend="${pageInfo.pageNum != null && pageInfo.pageNum == 1 ? 'disabled':''}  ">
            <a class="page-link" href="/admin/article/list?page=1" >&laquo;</a>
        </li>


        <th:block th:each="pageNo:${#numbers.sequence(1,pageInfo.pageNum)}">
            <li class="page-item" th:classappend="${pageInfo.pageNum==pageNo}?'active':''">
                <a class="page-link" th:href="@{'/admin/article/list?page='+${pageNo}}" th:text="${pageNo}"></a>
            </li>
        </th:block>
        <li class="page-item" th:classappend="${pageInfo.pageNum==pageInfo.pages}?'disabled':''">
            <a class="page-link" th:href="@{'/admin/article/list?page='+${pageInfo.pages}}">&raquo;</a>
        </li>
    </ul>
</nav>
<script src="/js/jquery-3.2.1.min.js"></script>
<script>
    function fullScreen(title,url){
        var index = layer.open({
            type: 2,
            title: title,
            area: ['70%', '70%'],
            content: url,
            maxmin: true
        });
        layer.full(index);
    }

    function ifdelete(id,title) {
        layer.confirm('确定删除该文章吗?', {
            btn: ['确定','取消'] //按钮
        }, function(){
            $.ajax({
                type: 'POST',
                url: '/api/article/del',
                datatype:'json',
                data:{"id":id},
                success: function(data){
                    if(data['stateCode']==1){
                        layer.msg('删除成功!',{icon:1,time:1000});
                        setTimeout("window.location.reload()",1000);
                    }
                    else {
                        layer.msg('删除失败!',{icon:5,time:1000});
                    }
                },
                error:function(data) {
                    console.log('错误...');
                },
            });
        }, function(){

        });
    }

</script>
</body>
</html>