<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>博客管理系统</title>
    <link rel="stylesheet" href="/css/bootstrap4.0.min.css">
    <script src="/js/jquery.slim.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap4.0.min.js"></script>
    <script src="/js/layer.js"></script>
</head>
<body>
<div style="position: relative;top: 10%">
    <th:block th:if="${succ != null}">
        <div class="alert alert-success" role="alert" th:text="succ">
        </div>
    </th:block>
    <th:block th:if="${error != null}">
        <div class="alert alert-danger" role="alert" th:text="error">
        </div>
    </th:block>
</div>
<div class="container">
    <th:block th:if="${comments != null}">
        <table class="table">
            <thead class="thead-default">
            <tr>
                <th>流水号</th>
                <th>评论内容</th>
                <th>日期</th>
                <th>昵称</th>
                <th>邮箱</th>
                <th>删除</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="comment : ${comments}">
                <tr>
                    <th scope="row" th:text="${comment.id}"></th>
                    <td th:text="${comment.content}"></td>
                    <td th:text="${comment.date}"></td>
                    <td th:text="${comment.name}"></td>
                    <td th:text="${comment.email}"></td>
                    <td>
                        <button type="button" class="btn btn-outline-danger btn-sm"
                                th:onclick="|ifdelete('${comment.id}')| ">删除
                        </button>
                    </td>
                </tr>
            </th:block>
            </tbody>
        </table>
        <script src="/js/jquery-3.2.1.min.js"></script>
        <script>
            function ifdelete(id) {
                layer.confirm('确定删除该评论吗?', {
                    btn: ['确定', '取消'] //按钮
                }, function () {
                    $.ajax({
                        type: 'POST',
                        url: '/api/comment/del',
                        datatype: 'json',
                        data: {"id": id},
                        success: function (data) {
                            if (data['stateCode'] == 1) {
                                layer.msg('删除成功!', {icon: 1, time: 1000});
                                setTimeout("window.location.reload()", 1000);
                            } else {
                                layer.msg('删除失败!', {icon: 5, time: 1000});
                            }
                        },
                        error: function (data) {
                            console.log('错误...');
                        },
                    });
                }, function () {

                });
            }
        </script>
    </th:block>

    <th:block th:if="${#lists.isEmpty(comments)}">
        <div class="card">
            <div class="card-body">
                该文章暂无评论!
            </div>
        </div>
    </th:block>
</div>
</body>
</html>